nav
{
  
}
.navItems {
    list-style-type: none;
    margin: -15px;
    padding: 0;
    overflow:hidden;
    background-color: #333;
    
    margin-bottom: 50px;

  }

  
  


  li img 
  {
      padding-right: 40px;
      float:right;
      height: 100px;
      width: 200px;
      padding-top: 20px;
      padding-bottom: 10px;
      border-radius:80%;
  }
  li h1 
  {
      font-size: 40px;
      padding-right: 60px;
      color: lime;
      float: right;
      
  }

  li h2
  {
      font-size: 40px;
      margin-left: 60px;
      margin-top: 40px;
      color: black;
      float: left;
      border:6px solid chocolate;
      background-color: rgb(247, 213, 64);
  }

  body
  {
      background-image:url(images/userBg.jfif) ;
      background-size:cover;
      overflow-x: hidden;
  }

  .newsOuter
  {
      border: 10px solid black;
      height:800px;
      width:900px;
      margin:0 auto;
      overflow-y: scroll;
  }

  .newsOuter h1
  {
    font-size:30px;
    text-align: center;
    background-color: brown;
    padding: 25px;
  }

  .timeline ul {
    list-style-type:none;
    padding: 20px 0;
    }
    
    .timeline ul li 
    {
    
    width: 4px;
    
  
    padding:10px 100px;
    
    } 
    
    
    
    .timeline ul li div {
    position: relative;
    width: 650px;
    padding: 15px;
    height:200px;
    background: #58c573;
    background-size: cover;
    background-image: url(images/newsbg.jfif);
    }
    
    
    /*
    .timeline ul li:nth-child(odd) div {
    left: 45px;
    transform: translate3d(200px, 0, 0);
    }
    
    .timeline ul li:nth-child(even) div {
    left: -439px;
    transform: translate3d(-200px, 0, 0);
    }*/
    
    
    
    time 
    {
    display: block;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 8px;
    text-align: center;
    }
    
    .content
    {
        font-size: 20px;
    }
    
    
    .timeline ul li div 
    {
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    }
    
    .timeline ul li.in-view div 
    {
    transform: none;
    visibility: visible;
    opacity: 1;
    }

  